<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MathGuru</title>
  <link rel="shortcut icon" href="https://e7.pngegg.com/pngimages/541/631/png-clipart-mathematics-logo-word-problem-algebra-black-dandelion-logo-algebra.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Zeyada&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="public/style.css"> -->
  <link rel="stylesheet" href="/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12/lib/typed.min.js"></script>
  <script src="https://kit.fontawesome.com/24b7b4270b.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="logo">
      <img class="logo-image" src="/Images/logarithm.png" alt="image" />
      <h1 class="logo-text">MathGuru</h1>
    </div>
   <a href="/forms"><button class="sign-up-button">Sign Up</button></a>
  </header>
  <div>
    <section class="info-container">
      <div class="sub-info-container">
        <div class="info">
          <span id="typed"></span>
          <h1>Supercharge Your Math Skills with MathGuru</h1>
          <p>
            Elevate your Math skills with MathGuru, the ultimate tool for conquering equations, mastering concepts, and unlocking your true potential. Join us to supercharge your Math abilities and become a Math wizard!
          </p>
         <a href="/courses"><button>Get Started</button></a>
        </div>
        <div class="image">
          <img src="/Images/4542742.jpg" alt="image" />
        </div>
        <div class="clearfix"></div>
      </div>
    </section>
    <section class="Courses-offered">
      <div class="Courses">
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="/Images/logarithm.png" />
              <h3>Calculus - Differential</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>
                Our curriculum covers differential and integral calculus, providing a solid foundation in limits, derivatives, integrals, and differential equations.
              </p>
              <a href="/calculus">Explore</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="/Images/logarithm.png" />
              <h3>Probability and statistics</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>
                The backbone of data analysis, providing insights into uncertainty, patterns, and trends for better decision-making and risk assessment.
              </p>
              <a href="/stats">Explore</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="/Images/logarithm.png" />
              <h3>Vector Analysis</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>
                Imagine vectors as arrows with both size and direction. With this powerful tool, we can explore motion, forces, and spatial relationships in a way that is easy to grasp and apply to real-world problems.
              </p>
              <a href="/vector">Explore</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="/Images/logarithm.png" />
              <h3>Algebraic Structures</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>
                Building blocks of mathematics that define operations and relationships within sets, enabling us to study patterns, transformations, and symmetries with a unified framework.
              </p>
              <a href="/algebraic">Explore</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="benefits" id="moreaboutus">
      <div class="banner">
        <h1 class="title-b">How You Can Benefit </h1>
        <h5 class="sub-title">Knowledge is power, embrace your potential.</h5>
      </div>
      <table>
        <tr>
          <td>
            <ul>
              <li>
                <h3>Expert Guidance</h3>
                <p>Benefit from the wealth of knowledge and expertise our experienced instructors bring, providing personalized guidance and creating an effective learning environment tailored to your needs.</p>
              </li>
              <li>
                <h3>Comprehensive Curriculum</h3>
                <p>Immerse yourself in interactive learning experiences, where engaging activities, exercises, and simulations enhance your comprehension and retention. </p>
              </li>
              <li>
                <h3>Interactive Learning</h3>
                <p>Embrace the flexibility of our study options, allowing you to tailor your learning experience to fit your schedule and preferred mode of study.</p>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li>
                <h3>Flexible Study Options</h3>
                <p>Gain practical skills and knowledge that can be immediately applied in real-world scenarios, giving you a competitive edge in academic and professional settings.</p>
              </li>
              <li>
                <h3>Practical Application</h3>
                <p>Gain practical skills and knowledge that can be immediately applied in real-world scenarios, giving you a competitive edge in academic and professional settings.</p>
              </li>
              <li>
                <h3>Ongoing Support</h3>
                <p>Enjoy ongoing support from our dedicated team, ensuring you receive guidance and assistance every step of the way throughout your learning journey.</p>
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </section>
    <section class="testimonials">
      <div class="container">
        <div class="title">
          <h2>reviews</h2>
          <div class="underline"></div>
        </div>
        <article class="review">
          <div class="img-container">
            <img src="https://res.cloudinary.com/diqqf3eq2/image/upload/v1586883334/person-1_rfzshl.jpg" alt="" id="person-img" />
          </div>
          <h4 id="author">John Miller</h4>
          <p id="job">Learner</p>
          <p id="info">
            Thanks to MathGuru, I finally feel confident in my math abilities. The step-by-step explanations and practice problems helped me grasp even the toughest concepts.
          </p>
          <div class="button-container">
            <button class="prev-btn btn">
              <i class="fa-solid fa-chevron-left"></i>
            </button>
            <button class="next-btn btn">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </article>
      </div>
    </section>
    <footer id="footer">
        <div id="utility-links">
      
         <div class="help">
         <ul>
           <h3 class="left">About Us</h3>
           <p>MathGuru: Your trusted source for quality math education. Join us and excel in math with confidence!</p>
           </div>
       
        
          <div class="rectangle"></div>
      
         <div class="about">
              <ul>
                <h3 class="left">Company</h3>
            <li><a href="/">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/faq">FAQs</a></li>
            <li><a href="/subscription">Subscriptions</a></li>
             </ul>
             </div>
        
          <div class="rectangle"></div>
        
        <div class="card-f">
              <ul>
                <h3 class="left">Products</h3>
                <li><a href="#">Programs</a></li>
                <li><a href="#">Testimonials</a></li>
             </ul>
         </div>
      </div>  
        
      <div id="newsletter-social">      
       <div id="social">
          <a href="#" target="_blank">
          <img width="34" height="34" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png"></a></img>
      
          <a href="#" target="_blank">
          <img width="34" height="34" src="https://res.cloudinary.com/cloudinary-account/image/upload/v1469457641/twitter_fu5ejk.svg"></a></img>
      
          <a href="#" target="_blank">
          <img width="34" height="34" src="https://res.cloudinary.com/cloudinary-account/image/upload/v1469457641/pinterest_kahh1i.svg"></a></img>
      
          <a href="#" target="_blank">
          <img width="34" height="34" src="https://res.cloudinary.com/cloudinary-account/image/upload/v1469457641/youtube_xrntt3.svg"></a></img>
      
          <a href="#" target="_blank">
          <img width="34" height="34" src="https://cdn.pixabay.com/photo/2016/08/09/17/52/instagram-1581266_640.jpg"></a></img>
      
        </div>  
      </div>  
           
      <div class="rectangle-horiz"></div>
      
      <div id="copyright">
      <ul>
        <li class="copy">© 2023 MathGuru All Rights Reserved.</li>
      
        <li class="copy">Privacy Policy | Terms + Conditions </li>
        
      </div> 
      </footer>
    <script src="/script.js"></script>
  </body>
</html>
